---
import Layout from '@/layouts/Layout.astro'
import Background from '@/components/Background.astro'
import Header from '@/components/Header.astro'
import Form from '@/components/Form'
import Hero from '@/components/Hero.astro'

import ArrowRightIcon from '@/icons/arrow-right.astro'
---

<Layout title='Home'>
  <Background />
  <Header />

  <main
    class='min-h-screen grid place-items-center gap-16 py-12 px-32 relative'
  >
    <nav class='px-4 py-1 border rounded-full text-xs'>
      <a class='flex items-center gap-2' href='https://devoncats.dev'
        >More projects at devoncats.dev <ArrowRightIcon />
      </a>
    </nav>

    <Hero />

    <section
      class='p-12 w-3/4 grid place-items-center gap-8 border rounded-lg shadow-sm bg-white'
    >
      <h2 class='font-sans text-3xl'>Commit Generator ✨</h2>
      <Form client:load />
    </section>
  </main>
</Layout>
