---
import GithubIcon from '@/icons/github.astro'
import CatIcon from '@/icons/cat.astro'
---

<header>
  <nav>
    <ul class='w-full py-8 px-64 gap-4 flex text-2xl justify-end'>
      <li><a href='https://devoncats.dev'><CatIcon /></a></li>
      <li><a href='https://github.com/devoncats'><GithubIcon /></a></li>
    </ul>
  </nav>
</header>
