---
import ArrowRightIcon from '@/icons/arrow-right.astro'
---

<section class='w-[50rem] grid place-items-center gap-8'>
  <h1 class='text-6xl font-medium text-center text-pretty'>
    Create a commit ⬆️ message the right way!
  </h1>

  <p class='w-[80%] text-sm text-pretty text-gray-600'>
    This tool will help you generate a commit message that follows the
    conventional commit message format. This will help you and your team
    understand the changes in your codebase.
  </p>

  <a
    href='https://github.com/devoncats'
    class='flex items-center text-sm font-medium gap-2 rounded-full bg-black text-white px-4 py-2'
  >
    See the code <ArrowRightIcon />
  </a>
</section>
